<h5>*ngIf</h5>

<div *ngIf="cursos.length > 0">Lista de cursos aqui.</div>
<div *ngIf="cursos.length == 0">Não existem cursos para a lista.</div>

<div *ngIf="mostrarCursos">Lista de cursos aqui.</div>
<div *ngIf="!mostrarCursos">Não existem cursos para a lista.</div>

<br />
<button (click)="onMostrarCursos()">Mostrar ou Esconder Cursos</button>

<h5>Hidden como alternativa</h5>

<div [hidden]="!mostrarCursos">Lista de cursos aqui.</div>
<div [hidden]="!mostrarCursos">Não existem cursos para a lista.</div>

<!-- Descontinuado na versão atuado, onde é aceito apenas o *ngFor
<h5>Removendo o * e usando o template</h5>

<template [ngIf]="mostrarCursos">
  <div>Lista de cursos aqui.</div>
</template>

<div template="*ngIf mostrarCursos">Lista de cursos aqui.</div>-->
